<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta content="text/html" charset="UTF-8" />
</head>
<body>
	<div id="Content">
		<section layout:fragment="content">
			<h1>List the users</h1>

			<a th:href="@{/customers/createUser(form)}">Create user</a>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Age</th>
						<th>Call ID</th>
						<th>Description</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="person:${users}">
						<td th:text="${person.name}"></td>
						<td th:text="${person.age}"></td>
						<td th:text="${person.callId}"></td>
						<td th:text="${person.description}"></td>
						<td>
							<a th:href="@{'user/'+${person.id}}">Edit</a> 
							<a th:href="@{'user/'+${person.id}(remove)}">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
	<script th:inline="javascript">
		//http://stackoverflow.com/questions/39632223/what-do-the-defaults-represent-in-this-amchart-property
		// [[]] means get data from the dataProvider.
		//var single=[[${singlePerson}]]; 
		//console.log(single.name+"/"+single.age);

		console.log("constumer index")
		function getName(name) {
			console.log(name);
		}
	</script>
		</section>
	</div>
</body>
</html>